@using NbApp.Srvs.Menus;
@model PageMenuTree
@{
    var currentMenuTree = Model;
    var currentPath = this.ViewBag.currentPath as string;
    var parentPath = currentMenuTree.GuessParentHerf();
    var mdDocFilesJson = currentMenuTree.GetAllDescendants().Select(x => x.Herf).ToJson(true);
    var date = "";
    var fileContent = "";
    var htmlContent = "";
    var fileInfo = new System.IO.FileInfo(currentMenuTree.GetFullPath());
    var languageCss = "language-md";
    var fileMeta = new Dictionary<string, object>();
    if (fileInfo.Exists)
    {
        languageCss = "language-" + fileInfo.Extension.ToLower().TrimStart('.');
        date = fileInfo.LastWriteTime.ToShortDateString();
        fileContent = currentMenuTree.LoadFileContent();
        if (languageCss == "language-md")
        {
            htmlContent = Markdig.Markdown.ToHtml(fileContent);
        }

        fileMeta["name"] = fileInfo.Name;
        fileMeta["size"] = fileInfo.Length.FormatAsFileSize();
        fileMeta["update"] = fileInfo.LastWriteTime;
        fileMeta["create"] = fileInfo.CreationTime;
        fileMeta["md5"] = HashHelper.Instance.GetMd5().ComputeHashString(fileContent);
    }
}
<article class="blog-post">
    <h2 class="blog-post-title">@currentMenuTree.Title</h2>
    <p class="blog-post-meta">
        <span style="color: cornflowerblue;">
            <i class="bi-alarm"></i>
            @date
        </span>
        <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@parentPath" title="return to parent">
            back to parent
            <i class="bi-folder-symlink"></i>
        </a>
    </p>
    <hr>
    <pre><code class="language-json">@Html.Raw(fileMeta.ToJson(true))</code></pre>
    @if (!string.IsNullOrWhiteSpace(htmlContent))
    {
        @Html.Raw(htmlContent)
    }
    else
    {
        <pre><code class="@languageCss">@fileContent</code></pre>
    }
</article>