@page
@using System.IO;
@{
    var systemdSetting = SystemdSetting.CreateDefault();
    var vo = SystemdSetting.CreateDefault();
    var title = "常用脚本";
}
<article class="blog-post">
    <h2 class="blog-post-title">@title</h2>
    <p class="blog-post-meta">
        <span style="color: cornflowerblue;">
            <i class="bi-alarm"></i>
            @DateTime.Now
        </span>
    </p>
    <hr>
    <div>
        <pre><code class="language-shell"># 修改启动权限
chmod +x @vo.my_srv_name
# 启动后台运行
nohup ./@vo.my_srv_name >/dev/null 2>&1 &
# 查看进程
ps ax | grep -e @vo.my_srv_name | grep -v grep
# 权限指令
#echo 123 | sudo -S systemctl status @vo.my_srv_name
echo {password} | sudo -S {command}
</code></pre>
    </div>
</article>


