@page
@using RI = System.Runtime.InteropServices.RuntimeInformation;
@using System.Diagnostics;
@{

    var theAppSetting = this.ViewBag.theAppSetting as TheAppSetting;
    var currentProcess = Process.GetCurrentProcess();
    var firstKey = "start-info";
    var tabDict = new Dictionary<string, object>();

    var startInfo = new
    {
        TargetFrameworkName = AppContext.TargetFrameworkName,
        BaseDirectory = AppContext.BaseDirectory,
        CurrentDirectory = Environment.CurrentDirectory,

        AppStartAt = currentProcess.StartTime.ToString("yyyy-MM-dd HH:mm:ss"),
        AppStartDuration = (DateTime.Now - currentProcess.StartTime).ToString(@"hh\:mm\:ss"),
        
        ProcessId = Environment.ProcessId,
        Environment.ProcessPath,
        CommandLine = Environment.CommandLine,
        CommandLineArgs = Environment.GetCommandLineArgs(),
    };

    var runtimeInfo = new
    {
        RI.FrameworkDescription,
        RI.OSDescription,
        RI.OSArchitecture,
        RI.ProcessArchitecture,
        RI.RuntimeIdentifier
    };
    
    tabDict["start-info"] = startInfo;

    tabDict["runtime-info"] = runtimeInfo;

    tabDict["app-info"] = theAppSetting;

    var buildInfo = BuildInfoFile.Load();
    tabDict["build-info"] = buildInfo;

    var envInfoProcess = Environment.GetEnvironmentVariables(EnvironmentVariableTarget.Process);
    tabDict["env-info"] = envInfoProcess;
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        @foreach (var tabItem in tabDict)
        {
            var selected = tabItem.Key == firstKey;
            var tabCss = selected ? "nav-link active" : "nav-link";
            var tabId = $"nav-tab-{tabItem.Key}";
            var tabContentId = $"nav-content-{tabItem.Key}";
            <button class="@tabCss" id="@tabId" data-bs-toggle="tab" data-bs-target="#@tabContentId" type="button" role="tab" aria-controls="@tabContentId" aria-selected="@selected.ToString().ToLower()">
                @tabItem.Key
            </button>
        }
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    @foreach (var tabItem in tabDict)
    {
        var selected = tabItem.Key == firstKey;
        var currentCss = selected ? "tab-pane fade show active" : "tab-pane fade";
        var tabId = $"nav-tab-{tabItem.Key}";
        var tabContentId = $"nav-content-{tabItem.Key}";
        <div class="@currentCss" id="@tabContentId" role="tabpanel" aria-labelledby="@tabId" tabindex="0">
            <div class="card m-3">
                <h5 class="card-header">@tabItem.Key</h5>
                <div class="card-body">
                    <pre><code class="language-json">@Html.Raw(tabItem.Value.ToJson(true))</code></pre>
                </div>
            </div>
        </div>
    }
</div>